bin/
*.pdf
*.o
*.elf
*.swp
*.out
programs/*.o
programs/*.elf
programs/regs.txt

*.synctex.gz
*.log
*.aux

instruction_log.txt


# Ignore everything in the report folder except .tex and .eps files
report/*.*
!report/*.tex
!report/*/*.tex
!report/*.eps
!report/*/*.eps
!report/*.pdf
