*.o
*.elf
*.swp
programs/*.o
programs/*.elf
programs/regs.txt

*.synctex.gz
*.log
*.aux


# Ignore everything in the report folder except .tex and .eps files
report/*.*
!report/*.tex
!report/*/*.tex
!report/*.eps
!report/*/*.eps
!report/*.pdf
